.desDiv{
    border: 1px solid black;
    height: 150px;
    width: 560px;
    float: right;
}
.picDiv {
    width:500px;
    height: 250px;
    margin:0 20px 20px 0;
    padding-top:20px;
    float:left;
    text-align:center;

}
.container {
    display: inline-block;
}